@import url(http://fonts.googleapis.com/css?family=Tangerine:700);

.presentation.facade {
    background: black;
    background-color: black;
}

.frameless.illustration {
    border: none;
}

.title.text {
    font-family: 'Tangerine', cursive;
    color: gold;
}

.wave {
    animation-duration: 300ms;
    animation-iteration-count: 5;
    animation-timing-function: ease-in-out;
    animation-name: wave;
}

@keyframes wave {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
